In [1]:
import requests as rq
from bs4 import BeautifulSoup
import pandas as pd

def getCurrencyTable():
    table = pd.read_html("https://developers.google.com/adsense/management/appendix/currencies")[0]
    table.columns = ["currency_code", "currency_name"]
    table.index += 1
    return table

def stringCleaner(string):
    sample = "abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ "
    new_string = ""
    for i in range(0, len(string)):
        if string[i] in sample:
            new_string += string[i]
    return new_string

def codeOutOfParenthesis(string):
    return string[int(string.find("(")+1):int(string.find("(")+4)]

def validateCountryCode(code, table):
    for x in table["currency_code"]:
        if x == code:
            return True
    return False

def getCountryNameFromCountryCode(code, table):
    for x in table["currency_code"]:
        if x == code:
            return table[table["currency_code"] == x]["currency_name"][table[table["currency_code"] == x]["currency_name"].index[0]]
    return False

def getCurrencyCoefficient():

    origin = input("Origin currency code: ").upper()
    if validateCountryCode(origin, getCurrencyTable()) == False:
        return Exception(f"\'{origin}\' is an invalid currency code, please try again \n You might also want to check the currency codes: https://developers.google.com/adsense/management/appendix/currencies")

    destiny = input("Destiny currency code: ").upper()
    if validateCountryCode(origin, getCurrencyTable()) == False:
        return Exception(f"\'{origin}\' is an invalid currency code, please try again. \n You might also want to check the currency codes: https://developers.google.com/adsense/management/appendix/currencies")

    currency_url = rq.get(f"https://www.google.com/finance/quote/{origin}-{destiny}?hl=es")
    convert_coefficient = BeautifulSoup(currency_url.text, 'html.parser')
    convert_coefficient = float(convert_coefficient.find_all("div", "YMlKec fxKbKc")[0].text.replace(",", "."))
    
    quantity = float(input("Quantity of " + getCountryNameFromCountryCode(origin, getCurrencyTable()) + "s" + " to convert to " + getCountryNameFromCountryCode(destiny, getCurrencyTable()) + "s:"))

    return f"{quantity} {getCountryNameFromCountryCode(origin, getCurrencyTable())}s = {round(quantity * convert_coefficient, 4)} {getCountryNameFromCountryCode(destiny, getCurrencyTable())}s"

print(getCurrencyCoefficient())

30.0 US Dollars = 4457.745 Japanese Yens

In [112]:
table = pd.read_html("https://developers.google.com/adsense/management/appendix/currencies")[0]
table.columns = ["currency_code", "currency_name"]

country_table = pd.read_html("https://support.google.com/merchants/answer/160637?hl=en")[0]
country_table.columns = ["country_name", "currency_code"]
for i in country_table["country_name"]:
    country_table = country_table.replace(i, stringCleaner(i))

for i in country_table["currency_code"]:
    country_table = country_table.replace(i, codeOutOfParenthesis(i))
    
country_table = country_table.append(pd.DataFrame(columns=["currency_name"]))

In [156]:
table = name

   currency_code                   currency_name
0            AED     United Arab Emirates Dirham
1            ARS                  Argentine Peso
2            AUD               Australian Dollar
3            BDT                Bangladeshi Taka
4            BGN                   Bulgarian Lev
..           ...                             ...
79           VEF  Venezuelan Bolívar (2008-2018)
80           VES              Venezuelan Bolívar
81           VND                 Vietnamese Dong
82           XOF                 CFA Franc BCEAO
83           ZAR              South African Rand

[84 rows x 2 columns]

In [119]:
country_table

   country_name currency_code currency_name
0       Algeria           DZD           NaN
1        Angola           AOA           NaN
2    Argentina            ARS           NaN
3    Australia            AUD           NaN
4      Austria            EUR           NaN
..          ...           ...           ...
89   Uzbekistan           UZS           NaN
90    Venezuela           VEF           NaN
91     Vietnam            VND           NaN
92       Zambia           ZMW           NaN
93     Zimbabwe           USD           NaN

[94 rows x 3 columns]

In [163]:
df = country_table
cur_c_for_index = ""
cur_c_in_table = ""
cur_n_for_cur_c_in_table = ""

for i in range(0, int(len(df["currency_name"]))-1):
   cur_c_for_index = df["currency_code"][i]
   cur_c_in_table = table[table["currency_code"] == 'ZMW']

cur_c_in_table

Empty DataFrame
Columns: [currency_code, currency_name]
Index: []

In [2]:
a: str = 4

TypeError: unsupported operand type(s) for +: 'int' and 'str'